<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="File" fileName="${basePath}/app.log" filePattern="${basePath}/app-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{2} -%msg%n"></PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"></TimeBasedTriggeringPolicy>
				<SizeBasedTriggeringPolicy size="100 KB"></SizeBasedTriggeringPolicy>
			</Policies>
		</RollingFile>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{2} -%msg%n"></PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="File"></AppenderRef>
		</Root>
		<Logger name="com.goibibo.flightsbooking" level="info" additivity="false">
			<AppenderRef ref="File"></AppenderRef>
		</Logger>>
	</Loggers>
</Configuration>